# Обучим модель, которая будет предсказывать куда поедет человек в зависимости от родного города, з/п и т.д.

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

df = pd.read_excel('trips_data_for_ML.xlsx',  index_col = 0)

In [2]:
df

,salary,age,family_members,target,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,...,city_Ярославль,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шоппинг,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет
0,196000,25,1,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1,152000,60,1,London,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,83000,49,2,Sydney,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,161000,41,0,New York,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
4,146000,58,1,Sydney,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,81000,55,2,Paris,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
996,96000,32,1,Paris,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
997,56000,68,2,Paris,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
998,162000,69,0,Sydney,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
999,171000,35,1,New York,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [3]:
x = df.drop('target', axis = 1)
y = df['target']
model = RandomForestClassifier()
model.fit(x, y) # обучаем модель

RandomForestClassifier()

In [58]:
example = {'age': [31],
 'city_Екатеринбург': [1],
 'city_Киев': [0],
 'city_Краснодар': [0],
 'city_Минск': [0],
 'city_Москва': [0],
 'city_Новосибирск': [0],
 'city_Омск': [0],
 'city_Петербург': [0],
 'city_Томск': [0],
 'city_Хабаровск': [0],
 'city_Ярославль': [0],
 'family_members': [0],
 'salary': [130000],
 'transport_preference_Автомобиль': [1],
 'transport_preference_Космический корабль': [0],
 'transport_preference_Морской транспорт': [0],
 'transport_preference_Поезд': [0],
 'transport_preference_Самолет': [0],
 'vacation_preference_Архитектура': [0],
 'vacation_preference_Ночные клубы': [0],
 'vacation_preference_Пляжный отдых': [0],
 'vacation_preference_Шопинг': [1]}
example_df = pd.DataFrame(example) # записываем пример

In [59]:
example_df

,age,city_Екатеринбург,city_Киев,city_Краснодар,city_Минск,city_Москва,city_Новосибирск,city_Омск,city_Петербург,city_Томск,...,salary,transport_preference_Автомобиль,transport_preference_Космический корабль,transport_preference_Морской транспорт,transport_preference_Поезд,transport_preference_Самолет,vacation_preference_Архитектура,vacation_preference_Ночные клубы,vacation_preference_Пляжный отдых,vacation_preference_Шопинг
0,31,1,0,0,0,0,0,0,0,0,...,130000,1,0,0,0,0,0,0,0,1

In [61]:
model.predict(example_df) # Делаем прогноз

/Users/aleksandraroslakova/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- vacation_preference_Шопинг
Feature names seen at fit time, yet now missing:
- vacation_preference_Шоппинг

  warnings.warn(message, FutureWarning)

array(['Paris'], dtype=object)